@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #808080;
    font-family: 'Mulish', sans-serif;
}

.title {
    color: white;  
    
}

.text {
    letter-spacing: -1px;
}


